.svn
.idea
build
cmake-build-debug

.vscode
Library
Logs
Temp
obj

res


*.pdf
*.zip
*.fbx
*.csproj
*.cache


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.cache
Demo_1.txt
Demo_2.txt
Demo_3.txt
Demo_4.txt
Demo_5.txt
Demo_6.txt
FactalPlant_3.txt
FactalPlant_4.txt
FactalPlant_5.txt
FactalPlant_6.txt
Template_1.txt
Template_2.txt
Template_3.txt
Template_4.txt
Template_5.txt
Template_6.txt
