.svn
.idea
build
cmake-build-debug

.vscode
Library
Logs
Temp
obj

res


*.pdf
*.zip
*.fbx
*.csproj
*.cache


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
*.cache
Demo_1.txt
Demo_2.txt
Demo_3.txt
Demo_4.txt
Demo_5.txt
Demo_6.txt
FactalPlant_3.txt
FactalPlant_4.txt
FactalPlant_5.txt
FactalPlant_6.txt
Template_1.txt
Template_2.txt
Template_3.txt
Template_4.txt
Template_5.txt
Template_6.txt
Demo_0.txt
FactalPlant_1.txt
FactalPlant_2.txt
Template_9.txt
Template_8.txt
Template_7.txt
Template_10.txt
funy1_Template_2.txt
tree_Template_4.txt
treeleaf2_Template_3.txt
treeleaf3_Template_1.txt
treeleaf3_Template_2.txt
treeleaf3_Template_3.txt
treeleaf3_Template_4.txt
treeleaf3_Template_5.txt
treeleaf3_Template_6.txt
treeleaf_Template_8.txt
treeleaf3_Template_7.txt
parametric_Template_9.txt
parametric_Template_7.txt
parametric_Template_6.txt
parametric_Template_5.txt
parametric_Template_4.txt
parametric_Template_3.txt
parametric_Template_2.txt
parametric_Template_1.txt
parametric2_Template_1.txt
parametric2_Template_10.txt
parametric2_Template_2.txt
parametric2_Template_3.txt
parametric2_Template_4.txt
parametric2_Template_5.txt
parametric2_Template_6.txt
parametric2_Template_7.txt
parametric2_Template_8.txt
parametric2_Template_9.txt
*.txt
